@import "bootstrap/bootstrap";

// header{
//     background:white;
//     width:100%;
//     height:45px;
// }

.container{
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}


.FAC-banner{ /* this class is for the section that holds the csun image, profile image, and titles. */
    
    position: relative;
    background: url(https://www.csun.edu/faculty/imgs/9.jpg) no-repeat center ;
    height:297px;
    width:100%;
    object-fit: cover; 
    background-size: cover;
    z-index:1;
    a{
        color:white;
        text-decoration: underline;
    }
    .FAC-banner__image{ /* this is the profile pic of the faculty member */
        margin-left:30px;
        width: 200px;
        border-radius:50%;
        border: solid 5px white;   
    }
    .FAC-banner__department{ /* this is the faculty's department in the homepage profile header */
        color:red;
    }
    #FAC-banner__overlay { /* this is overlay for the csun image */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
    }
    .FAC-banner__name{  /* this is the faculty's name in the homepage profile header */
        font-size:35px;
        color:white;
        font-weight:100;
        letter-spacing: 3px;
        padding-top:10px;
    }
    .FAC-banner__title{ /* the is the faculty's title in the homepage profile header */
        color:white;
        font-style:italic;
        font-size:16px;
        padding-top:10px;
        font-weight:300;
    }
    .FAC-banner__nameVertical{  /* this is the faculty's name in the homepage profile header */
        font-size:35px;
        color:white;
        font-weight:100;
        letter-spacing: 3px;
        display:none;
    }
}
#FAC-banner__content{
    padding-top:65px; 
}

    /* this is the wrapper in order to make the divider line between the sidebar content */
.FACborder-line-wrapper{
    border-bottom:solid 0.3px rgb(236, 236, 236);
    padding-bottom: 1rem;
    margin-bottom:1rem;
}

.tab-container{
    border-bottom:solid 0.3px rgb(236, 236, 236);
}

h2{
    font-size: 30px;
    font-weight:300;
    color:rgb(75, 75, 75);
}
h3{
    font-size:25px;
    font-weight:300;
    color:rgb(75, 75, 75);
}
h6{
    /* font-size:15px; */
    font-weight:500;
    color:rgb(75, 75, 75);
}
.badge{
    color:white;
    font-size:13px;
    font-family:sans-serif;    
    border-radius:3px;
    background:rgb(52, 194, 106);
}

.nav-link{
    padding: .5rem 1.4rem;
}
.tab-container .container ul{
    list-style-type: none;
    margin:0;
    padding:0;
    color:grey;
    font-weight:300;
}

ul{
    text-decoration: none;
    list-style-type: none;
    margin:0;
    padding:0;
    color:grey;
    font-weight:300;
}
p{
    color:grey;
    font-weight:300;
}

footer{
    height:175px;
    background:white;
    width:100%;
    margin-top:5rem;
    .FACcsunEmblem{
        width:100%;
        }
}

.connection-links{
    a{
        border:solid 1px grey;
        padding:1rem 2rem;
        margin:0;
        text-align: center;
        color:grey;
        margin:10px 0;
        display: inline-block;
    }
}


#accordion{
    .card-header{
        padding: .15rem .10rem;
    }
    .btn{
        width:100%;
        text-align: left;
        text-decoration: none;
    }
    .btn-link{
        color:grey;
        &:hover{
            color:grey;
            text-decoration: none;
        }
    }
}
@include media-breakpoint-down(md){
    // body{
    //     background:blue;
    // }
    #FAC-banner__content{
        padding-top:25px;
    }
    .FAC-banner {
        
        height:400px;
        .FAC-banner__name, .FAC-banner__title, .FAC-banner__department{
            text-align: center;
            width:100%;
            padding-top:3px;
        }
        .FAC-banner__name{
            display:none;

        }
        .FAC-banner__nameVertical{
            display:block;
            text-align:center;
        }
        .FAC-banner__image{
            
            width: 200px;
            margin: 0 auto;
            display:block;

        }
    }
}

//up , down, only, between
@include media-breakpoint-up(sm) { 
    // body{ background:red;  }
}
